.container{
    padding-bottom: 50px;
}
.carousel-item{
    background-color: gainsboro;
    padding-left: 30px;
    border-radius: 10px;
}
.carousel-item p{
    color: gray;
}
.buy-now-button{
    background-color: black;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    margin-top: 40px;
}
.text-divition a{
    text-decoration: none;
    color: rgb(240, 206, 17);
}
.buy-now-button-2{
    background-color: black;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    margin-left: 100px;
}
.card-text{
    text-align: center;
    color: grey;
}
.card-img-top{
    padding: 15px 50px;
}
.card{
    border: 15px;
    box-shadow: 5px 5px 10px darkgray;
    border: none;
}
