.container{
    padding-bottom: 50px;
}
.carousel-item{
    background-color: gainsboro;
    padding-left: 30px;
    border-radius: 10px;
}
.carousel-item p{
    color: gray;
}
.buy-now-button{
    background-color: black;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    margin-top: 40px;
}
.text-divition{
    padding-bottom: 15px;
}
.text-divition a{
    text-decoration: none;
    color: rgb(240, 206, 17);
}
.buy-now-button-2{
    background-color: black;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
}
.card-text{
    text-align: center;
    color: grey;
}
.card-img-top{
    padding: 15px 50px;
}
.card{
    border: 15px;
    box-shadow: 5px 5px 10px darkgray;
    border: none;
    text-align: center;
}
.centering{
    background-color: yellow;
    background-image: linear-gradient(to left #FFEA61 0% , #FFD400 100%);
    border: 1px solid yellow;
    border-radius: 15px;
    height: 11px;
    width: 140px;
}
.cat-position{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}

.categories{
    display: flex;
}
.box-itm{
    border: none;
    height: 180px;
    width: 100px;
    background-color: azure;
}